<div class="container-fluid main-container">
  <div class="card">
    <div class="card-header">
      <h3>
        {{title}}
      </h3>
      <p>Posted by
        {{user.username}}
        on
        {{format_date date_created}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{body}}</p>
    </div>
  </div>
  <div class="hidden" id="blogId">{{id}}</div>
  {{#if logged_in}}
    <form class="new-comment-form card" data-blogid={{id}}>
      <div class="mb-3">
        <label for="comment" class="form-label">Comment:</label>
        <textarea
          for="comment"
          id="comment_description"
          class="form-control"
        ></textarea>
      </div>
      <div class="container align-right">
        <button class="btn btn-primary btn-add-post" type="submit">Add Comment</button>
      </div>
    </form>

  {{/if}}

  	<h2 class="text-center">Comments</h2>
		{{#each Comment as |comment|}}
		<div class="commentCont">
			<p class="text-center commentText">{{comment.body}}</p>
			<p class="text-center commentOwner"><span>~</span>Commentor: {{comment.user.username}} on {{format_date date_created}}<span>~</span></p>
		</div>
		{{/each}}

<script src="./js/comment.js"></script>
<script src="./js/deleteComment.js"></script>