{{#each blogs as |blog|}}
    <div class="card">
      <div class="card-header">
        <h3>
          <a class="blogTitle text-uppercase" href="/blogs/{{Blog.id}}">{{Blog.title}}</a>
        </h3>
        <p>Posted by
          {{Blog.user.username}}
          on
          {{format_date Blog.date_created}}</p>
      </div>
      <div class="card-body">
        <p class="card-text">{{Blog.body}}</p>
        <a href="/blog/{{Blog.id}}" class="stretched-link"><button
            class="btn btn-primary"
          >View Post</button></a>
      </div>
    </div>

</div>
{{/each}}